.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.cache/
static/css/*
static/element/*
dist.zip
admin.tar.gz
vendor-manifest.json
